span.outerspan.move {
    background-color: white;
}

span.outerspan[currLane = "5"][currLevel = "true"] {
    transition:transform 1s;
}

span.transparent {
    opacity: 0.5;
}

span.innerspan.place {
    font-size: 40px;
    margin: 0;
    display: flex;
    justify-content: center;
    line-height: 66px;
    color: rgba(0, 0, 0, 0.4);
}

span.innerspan.place.red {
    color: rgba(255, 0, 0, 0.4);
}

mark.red {
    color: #ff0000;
    background: none;
}

span {
    cursor: pointer;
    user-select: none;
}

span.innerspan {
    display: flex;
    margin-top: -5px;
    justify-content: left;
}

span.suit {
    font-family: Emoji;
}

span.outerspan {
    position: fixed;
    background: white;
    height: 69px;
    width: 58px;
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
    overflow: hidden;
}

body {
    margin: 0;
}

div#main {
    font-size: 30px;
    font-family: Text;
    width: 450px;
    height: 570px;
}

@font-face {
    font-family: "Noto";
    src: url("../assets/NotoSansSymbols2-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Emoji";
    src: url("../assets/NotoColorEmoji-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Text";
    src: url("../assets/ShareTechMono-Regular.ttf") format("truetype");
}

button {
    position: fixed;
    font-family: Text;
}
